@charset "utf-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* --------------基本設定開始--------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	-webkit-text-size-adjust: none;
}
body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	font-family: "Noto Sans TC", "Microsoft JhengHei", "sans-serif";
	line-height: 1.5;
	letter-spacing: 1px;
	color: $gray;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
a,
a:hover,
button,
button:hover {
	transition: all 0.2s ease;
	text-decoration: none;
}
a:focus{
	outline: none;
}
p {
	margin-bottom: 0;
}
ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}
ol {
	margin-bottom: 0;
}