/*-----------------框架樣式---------------------*/
.wrapper {
    padding: 16px;
    background: $gray-light;
    height: 100vh;
}
.container {
    padding: 16px 0;
    background: $white;
    border-radius: 8px;
    height: 100%;
}
.content-wrapper{
    height: 100%;
    padding: 0 16px;
    overflow: auto;
}
.content {
    height: 100%;
}
/*-----------------連結樣式---------------------*/
@each $key, $value in $color-themes {
    .link-#{$key} {
        color: $value;
        &:hover {
            color: darken($value, 20%);
            img{
                filter: brightness(0.8);
            }
        }
    }
}
/*-----------------文字樣式---------------------*/
@each $key, $value in $color-themes {
    //文字顏色
    .#{$key} {
        color: $value !important;
    }
}
@each $key, $value in $font-size-themes {
    //文字尺寸
    .#{$key} {
        font-size: $value !important;
    }
}
@each $key, $value in $font-weight-themes {
    //文字重量
    .#{$key} {
        font-weight: $value !important;
    }
}
.title {
    color: $primary-color;
    font-size: $font-sm;
    font-weight: normal;
    margin-bottom: 5px;
    padding-top: 15px;
    &~p{
        margin-left: 20px;
    }
}
ol li{
    margin-bottom: 5px;
    list-style: decimal!important;
    margin-left: 40px;
}
ol ul li{
    list-style:disc!important;
    margin-left: 20px;
    &::marker{
        color: $primary-color;
    }
}
/*-----------------卷軸樣式---------------------*/
.scroll {
    width: 100%;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar-track {
        background-color: $white;
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $gray-light;
    }
}
.scroll-light {
    width: 100%;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar-track {
        background-color: $white;
        border: 1px solid $gray-light;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: lighten($color: $gray-light, $amount: 15%);
    }
}
